<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-list</title>
    <link rel="stylesheet" href="/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">


</head>
<body>
    

<div class="Heading">
<h1><%=listTitle%> </h1>
</div>
<div id="box" >
    <div class="container1">
        
    <form method="post" action="/post">
    <input type="text" name="title" id="title" placeholder="Task-Title">
    <input type="text" name="todo" id="todo"placeholder="Enter Todo"> 
    <button name="list" value="<%=listTitle%>"  type="submit" class="btn">Add</button>
    </form>
    

  
</div>

    <div class="container2">

        
       <% if(data.length===0){ %>

        <div class="small-box">
            <h1>Add-Title</h1>
            <p>Add-Todo</p>
            </div>
        <%}else{%>

          


      

       <%data.forEach(function(details){ %>
        <div class="small-box">
            <form action="/delete" method="POST">
            <h1> <%=details.titleName%> </h1>
            <p > <%= details.descrip %></p>
        
            <button  name="button" class="delete-button" type="submit" value="<%=details._id %>" onClick="this.form.submit()">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
              </svg>
            </button>

            <input type="hidden" name="listName" value="<%=listTitle%>">

            </form>
        </div>
         <% })%>

         <%}%>
        







        

        <!-- <div class="small-box">
        <h1>Task-2</h1>
        <p>Breakfast</p>
        </div> -->

        
    </div>

    </div>


</body>
</html>